{% extends 'base.html' %}

{% load static%}

{% block body_class %}index{% endblock %}

{% block content_page %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        {% include '_includes/breadcrumb.html' %}
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'backoffice:contracts:index' %}">Contracts</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
            <h4 class="page-title">Contracts</h4>
        </div>
    </div>
</div>

<div class="row mb-2">
    {% if request.user.get_role_id != ROLE_USER_ID %}
        <div class="col-md-12 text-center">
            <a href="{% url 'backoffice:contracts:add' %}">
                <button type="button" class="btn btn-danger btn-rounded mb-3"><i class="mdi mdi-plus"></i> Create Contract</button>
            </a>
        </div>
    {% endif %}
</div>

<div class="card">
    <div class="card-body">
        <form action="" method="GET">
        <div class="row mt-1">
            <div class="col-md-3">
                <label>Search</label>
                <div class="form-group">
                    <input type="text" name="query" class="form-control" {% if query %}value='{{ query }}'{% endif %} placeholder="Searching ...">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Category</label>
                    <select id="category" name="category" class="form-control select2" data-toggle="select2">
                        <option value="0">- Select -</option>
                        <option value="1" {% if category == document.CATEGORY.construction %}selected{% endif %}>Construction</option>
                        <option value="2" {% if category == document.CATEGORY.property %}selected{% endif %}>Property</option>
                        <option value="3" {% if category == document.CATEGORY.other %}selected{% endif%}>Other</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Type</label>
                    <select id="type" name="type" class="form-control select2" data-toggle="select2">
                        <option value="0">- Select -</option>
                        <option value="1" {% if type == document.TYPE.private %}selected{% endif %}>Private</option>
                        <option value="2" {% if type == document.TYPE.public %}selected{% endif %}>Public</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Status</label>
                    <select id="status" name="status" class="form-control select2" data-toggle="select2">
                        <option value="0">- Select -</option>
                        <option value="1" {% if status == document.STATUS.ongoing %}selected{% endif %}>Ongoing</option>
                        <option value="2" {% if status == document.STATUS.done %}selected{% endif %}>Done</option>
                        <option value="3" {% if status == document.STATUS.expired %}selected{% endif %}>Expired</option>
                    </select>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">            
        <div class="table-responsive-sm">
            <table class="table table-sm table-hover table-centered mb-0">
                <thead>
                    <tr>
                        <th>Contract Number</th>
                        <th>Subject</th>
                        <th>Company</th>
                        <th>Contract Date</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in page.object_list %}
                        <tr>
                            <td><a href="{% url 'backoffice:contracts:details' document.id %}"># {{ document.number }}</a></td>
                            <td>{{ document.subject }}</td>
                            <td>{{ document.partner.name }}</td>
                            <td>{{ document.effective_date|date:'d M Y' }}</td>
                            <td>{{ document.get_category_display }}</td>
                            <td><span class="{{ document.badge_type_class }}">{{ document.get_type_display }}</span></td>
                            <td><span class="{{ document.badge_status_class }}">{{ document.get_status_display }}</span></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center"><h4>No Data</h4></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if page.has_other_pages %}
<div class="row justify-content-between ml-1 mr-1">
    <div class="col-xs-3 text-left">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}&query={{ query }}&category={{ category }}&type={{ type }}&status={{ status }}" class="btn btn-outline-info btn-rounded">Prev</a>
        {% endif %}
    </div>
    <div class="text-muted mt-2">
        Page {{ page.number }} of {{ total_pages }} from {{ total_data }} documents
    </div>
    <div class="col-xs-3 text-right">
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}&query={{ query }}&category={{ category }}&type={{ type }}&status={{ status }}" class="btn btn-outline-info btn-rounded">Next</a>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
<script>
    $(document).on("change", "select[data-toggle='select2']", function(){
        $("form").submit();
    });
</script>
{% endblock %}
