{% extends 'base.html' %}

{% load static%}

{% block content_page %}
<div class="container-fluid pb-4">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice:dashboard' %}">DMS</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contracts</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'backoffice:contracts:constructions:index' %}">Property</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'backoffice:contracts:constructions:details' 1 %}">Detail</a></li>
                        <li class="breadcrumb-item active">Delete</li>
                    </ol>
                </div>
                <h4 class="page-title">Delete Construction</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <form action="" method="">

                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <h6 class="font-14">Contract Number :</h6>
                                    <p># K00-0001</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <h6 class="font-14">Corporate :</h6>
                                    <p>PT Prima Lancar Jaya</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <h6 class="font-14">Job Specification :</h6>
                                    <p>Memasang marmer</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <h6 class="font-14">Amount :</h6>
                                    <p>Rp. 275.000.000</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="font-14">Description :</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label for="reason">Reason</label>
                                    <textarea class="form-control" id="reason" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-danger btn-rounded">Delete</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}
