<ul class="metismenu side-nav">

    <li class="side-nav-item">
        <a href="{% url 'backoffice:dashboard_user' %}" class="side-nav-link">
            <i class="dripicons-meter"></i>
            <span>Dashboards</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="{% url 'backoffice:contracts:index' %}" class="side-nav-link">
            <i class="dripicons-time-reverse"></i>
            <span>Contract</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="{% url 'backoffice:addendums:index' %}" class="side-nav-link">
            <i class="dripicons-time-reverse"></i>
            <span>Addendum</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-suitcase"></i>
            <span>MoU</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-microphone"></i>
            <span>Official Record</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-clipboard"></i>
            <span>Company Regulations</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="{% url 'backoffice:permission_requests' %}" class="side-nav-link">
            <i class="dripicons-user"></i>
            <span>Permission Requests</span>
        </a>
    </li>

</ul>