<ul class="metismenu side-nav">
    
    <li class="side-nav-item">
        <a href="{% url 'backoffice:dashboard_legal' %}" class="side-nav-link">
            <i class="dripicons-meter"></i>
            <span>Dashboards</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="{% url 'backoffice:contracts:index' %}" class="side-nav-link">
            <i class="dripicons-time-reverse"></i>
            <span>Contract</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="{% url 'backoffice:addendums:index' %}" class="side-nav-link">
            <i class="dripicons-time-reverse"></i>
            <span>Addendum</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="{% url 'backoffice:mous:index' %}" class="side-nav-link">
            <i class="dripicons-suitcase"></i>
            <span>MoU</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="{% url 'backoffice:official_records:index' %}" class="side-nav-link">
            <i class="dripicons-microphone"></i>
            <span>Official Record</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="{% url 'backoffice:company_regulations:index' %}" class="side-nav-link">
            <i class="dripicons-clipboard"></i>
            <span>Company Regulations</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="{% url 'backoffice:approval_requests:index' %}" class="side-nav-link">
            <i class="dripicons-user"></i>
            <span>Approval Requests</span>
        </a>
    </li>

    {% comment %}
    <!-- <li class="side-nav-item">
        <a href="{% url 'backoffice:locations:index' %}" class="side-nav-link">
            <i class="dripicons-direction"></i>
            <span>Locations</span>
        </a>
    </li> -->
    {% endcomment %}

    <li class="side-nav-item">
        <a href="{% url 'backoffice:partners:index' %}" class="side-nav-link">
            <i class="dripicons-store"></i>
            <span>Partners</span>
        </a>
    </li>
    <li class="side-nav-item">
        <a href="{% url 'backoffice:reports:index' %}" class="side-nav-link">
            <i class="dripicons-store"></i>
            <span>Reports</span>
        </a>
    </li>

    {% comment %}
    <!-- <li class="side-nav-item">
        <a href="{% url 'backoffice:events:index' %}" class="side-nav-link">
            <i class="dripicons-calendar"></i>
            <span>Events</span>
        </a>
    </li>  -->

    <!-- <li class="side-nav-item">
        <a href="{% url 'backoffice:configurations:category' %}" class="side-nav-link">
            <i class="dripicons-gear"></i>
            <span> Configurations </span>
        </a>
    </li> -->

    <!-- <li class="side-nav-item">
        <a href="{% url 'backoffice:users:index' %}" class="side-nav-link">
            <i class="dripicons-user"></i>
            <span>Users</span>
        </a>
    </li> -->
    {% endcomment %}
</ul>