$red: red;


.alert {
    margin-bottom: 2rem;
    font-size: 16px;
}

.alert-wrapper {
    margin: 0 10px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin-left: 100px;
}

.container-fluid {
    padding: 30px 10px;
}

.footer .container-fluid {
    padding: 0px;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
}

ul.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        color: red;
    }
}

.alert {
    &.alert-danger li, &.alert-success li {
        color: #fff;
    }
}

.page-title-box {
    .page-title {
        line-height: unset;
    }

    .page-title-right {
        margin-top: unset;
    }

    .breadcrumb {
        padding: unset;
    }
}

.hide {
    display: none;
}

.card-body small {
    position: relative;
    bottom: 4px;;
}

h3 small {
    position: relative;
    top: 0px;
    bottom: 0px;

    &.badge {
        font-size: 12px;
    }
}
