@font-face {
    font-family: 'Nunito';
    src: url('../black/Nunito-Black.eot');
    src: url('../black/Nunito-Black.eot?#iefix') format('embedded-opentype'),
        url('../black/Nunito-Black.woff2') format('woff2'),
        url('../black/Nunito-Black.woff') format('woff'),
        url('../black/Nunito-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../bold/Nunito-Bold.eot');
    src: url('../bold/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('../bold/Nunito-Bold.woff2') format('woff2'),
        url('../bold/Nunito-Bold.woff') format('woff'),
        url('../bold/Nunito-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../light/Nunito-Light.eot');
    src: url('../light/Nunito-Light.eot?#iefix') format('embedded-opentype'),
        url('../light/Nunito-Light.woff2') format('woff2'),
        url('../light/Nunito-Light.woff') format('woff'),
        url('../light/Nunito-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../regular/Nunito-Regular.eot');
    src: url('../regular/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('../regular/Nunito-Regular.woff2') format('woff2'),
        url('../regular/Nunito-Regular.woff') format('woff'),
        url('../regular/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../semi-bold/Nunito-SemiBold.eot');
    src: url('../semi-bold/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../semi-bold/Nunito-SemiBold.woff2') format('woff2'),
        url('../semi-bold/Nunito-SemiBold.woff') format('woff'),
        url('../semi-bold/Nunito-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
