<div class="row {% if official_record.is_active %}mt-3{% endif %} mb-2">
    <div class="col-lg-12 mb-2 text-center">
        <a href="{% url 'backoffice:official_records:index' %}" class="btn btn-outline-secondary btn-rounded m-1">
            <i class="mdi mdi-arrow-left-thick"></i>
            Go Back
        </a>
        <a href="{% url 'backoffice:official_records:related_lists' official_record.document.id %}" class="btn btn-outline-secondary btn-rounded m-1">
            <i class="mdi mdi-arrow-left-thick"></i>
            Back to list
        </a>
        {% if official_record.is_active and official_record.document.status != document.STATUS.done %}
            <a href="{% url 'backoffice:official_records:related_edit' official_record.id %}" class="btn btn-outline-primary btn-rounded m-1">
                <i class="mdi mdi-pencil"></i>
                Edit
            </a>
            <a href="{% url 'backoffice:official_records:related_delete' official_record.id %}" class="btn btn-outline-danger btn-rounded m-1">
                <i class="mdi mdi-trash-can"></i>
                Delete
            </a>
            <a href="{% url 'backoffice:official_records:related_change_record_status' official_record.id %}" class="btn btn-outline-danger btn-rounded m-1">
                <i class="mdi mdi-trash-can"></i>
                Deactivate
            </a>
        {% endif %}
        {% if not official_record.is_active %}
            <a href="{% url 'backoffice:official_records:related_change_record_status' official_record.id %}" class="btn btn-outline-success btn-rounded m-1">
                <i class="mdi mdi-trash-can"></i>
                Activate
            </a>
        {% endif %}
        {% if official_record.is_active and official_record.document.status != document.STATUS.done %}
            <a href="{% url 'backoffice:official_records:related_upload' official_record.id %}" class="btn btn-outline-info btn-rounded m-1">
                <i class="mdi mdi-upload"></i>
                Upload
            </a>
        {% endif %}
    </div>
</div>
