{% extends 'base.html' %}

{% load static humanize %}

{% block content_page %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        {% include '_includes/breadcrumb.html' %}
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'backoffice:approval_requests:index' %}">Approval Request</a></li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
            <h4 class="page-title">Detail Approval Request</h4>
        </div>
    </div>
</div>

<div class="row mb-3"></div>

<div class="row mb-2">
    <div class="col-lg-12 mb-2 text-center">
        <a href="{% url 'backoffice:approval_requests:index' %}" class="btn btn-outline-secondary btn-rounded m-1">
            <i class="mdi mdi-arrow-left-thick"></i>
            Go Back
        </a>
        {% if permission_request.status == permission_request.STATUS.request %}
            <a href="{% url 'backoffice:approval_requests:reject' permission_request.id %}" class="btn btn-outline-danger btn-rounded m-1">
                <i class="mdi mdi-thumb-down"></i>
                Reject
            </a>
            <a href="{% url 'backoffice:approval_requests:approve' permission_request.id %}" class="btn btn-outline-success btn-rounded m-1">
                <i class="mdi mdi-thumb-up"></i>
                Approve
            </a>
        {% endif %}
    </div>
</div>
    
<div class="row">
    <div class="col-12">

        <form action="" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">

                    <h3>Document Information</h3>
                    <hr/>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Number :</h6>
                                <a href="{% url 'backoffice:contracts:details' permission_request.document.id %}"># {{ permission_request.document.number }}</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Subject :</h6>
                                <p>{{ permission_request.document.subject }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Group :</h6>
                                <p>{{ permission_request.document.get_group_display }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Category :</h6>
                                <p>{{ permission_request.document.get_category_display }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <br/>
                    <h3>Request Information</h3>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Request Date :</h6>
                                <p>{{ permission_request.created|date:'d M Y H:i:s' }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Reason :</h6>
                                <p>{{ permission_request.reason }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
{% endblock %}
