{% extends 'base.html' %}

{% load static %}

{% block content_page %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        {% include '_includes/breadcrumb.html' %}
                    </li>
                    <li class="breadcrumb-item active">Permission Requests</li>
                </ol>
            </div>
            <h4 class="page-title">Permission Requests</h4>
        </div>
    </div>
</div>

<div class="row mb-3"></div>

<div class="card">
    <div class="card-body">
        <div class="row mt-1">
            <div class="col-md-3">
                <label>Search</label>
                <div class="form-group">
                    <input type="text" id="simpleinput" class="form-control" placeholder="Searching ...">
                </div>
            </div>
            <div class="col-md-3">
                <label>Request Date</label>
                <div class="form-group">
                    <input type="text" id="contractdate" class="form-control" placeholder="Request Date ..."
                            data-provide="datepicker" data-date-autoclose="true">
                </div>
            </div>
            <div class="col-md-3">
                <label>Status</label>
                <div class="form-group">
                    <select id="status" name="status" class="form-control select2" data-toggle="select2">
                        <option>- Select -</option>
                        <option>Pending</option>
                        <option>Rejected</option>
                        <option>Approved</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Group</label>
                    <select id="group" name="group" class="form-control select2" data-toggle="select2">
                        <option>- Select -</option>
                        <option>Contract</option>
                        <option>MoU</option>
                        <option>Official Record</option>
                        <option>Company Regulations</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">            
        <div class="table-responsive-sm">
            <table class="table table-sm table-hover table-centered mb-0">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Request Date</th>
                        <th>Status</th>
                        <th>Group</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">Perubahan pasal kontrak kerja</a></td>
                        <td>25 Mei 2019</td>
                        <td>03 February 2020</td>
                        <td>Construction</td>
                    </tr>
                    <tr>
                        <td><a href="">Perubahan pasal kontrak kerja</a></td>
                        <td>20 April 2019</td>
                        <td>31 Januari 2021</td>
                        <td>Construction</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row justify-content-between ml-1 mr-1">
    <div class="col-xs-3 text-left">
        <button type="button" class="btn btn-outline-info btn-rounded">Prev</button>
    </div>
    <div class="text-muted mt-2">
        Page 1 of 3
    </div>
    <div class="col-xs-3 text-right">
        <button type="button" class="btn btn-outline-info btn-rounded">Next</button>
    </div>
</div>
{% endblock %}
