{% extends 'base.html' %}

{% load static humanize %}

{% block content_page %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        {% include '_includes/breadcrumb.html' %}
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'backoffice:official_records:index' %}">Official Records</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'backoffice:official_records:related' %}">Related</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'backoffice:official_records:related_details' official_record.id %}">Detail</a></li>
                    <li class="breadcrumb-item active">Delete</li>
                </ol>
            </div>
            <h4 class="page-title">Delete Related Official Record</h4>
        </div>
    </div>
</div>

<div class="mb-3"></div>

<div class="row">
    <div class="col-12">

        <form action="" method="POST">
            {% csrf_token %}

            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Number :</h6>
                                <p># {{ official_record.number }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Subject :</h6>
                                <p>{{ official_record.subject }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Job Specification :</h6>
                                <p>{{ official_record.job_specification }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Amount :</h6>
                                <p>{{ official_record.amount|floatformat:'0'|intcomma }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <h6 class="font-14">Description :</h6>
                                <p>{{ official_record.description }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="reason">Reason</label>
                                <textarea class="form-control" name="reason" id="reason" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-danger btn-rounded">Delete</button>
                </div>
            </div>

        </form>

    </div>
</div>
{% endblock %}
