{% load static %}

<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>{{ title }} :: Document Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <link href="{% static 'css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" /> -->
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />

        <style type="text/css">
            .centered {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                margin-left: 100px;
            }

            .nav-tabs .nav-link.active {
                background-color: transparent;
            }
        </style>

    </head>
    <body>

        <div class="wrapper">
            <div class="left-side-menu">
                <div class="slimscroll-menu" id="left-side-menu-container">
                    <a href="index.html" class="logo text-center">
                        <span class="logo-lg">
                            <img src="{% static 'img/logo.png' %}" alt="" height="16">
                        </span>
                        <span class="logo-sm">
                            <img src="{% static 'img/logo.png' %}" alt="" height="16">
                        </span>
                    </a>

                    <ul class="metismenu side-nav">

                        <li class="side-nav-item">
                            <a href="{% url 'backoffice:dashboard' %}" class="side-nav-link">
                                <i class="dripicons-meter"></i>
                                <span>Dashboards</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="{% url 'backoffice:contracts:index' %}" class="side-nav-link">
                                <i class="dripicons-time-reverse"></i>
                                <span>Contract</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="{% url 'backoffice:addendums:index' %}" class="side-nav-link">
                                <i class="dripicons-time-reverse"></i>
                                <span>Addendum</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link">
                                <i class="dripicons-suitcase"></i>
                                <span>MoU</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link">
                                <i class="dripicons-microphone"></i>
                                <span>Reading News</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link">
                                <i class="dripicons-clipboard"></i>
                                <span>Company Regulations</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="{% url 'backoffice:approval_requests' %}" class="side-nav-link">
                                <i class="dripicons-user"></i>
                                <span>Approval Requests</span>
                            </a>
                        </li>
                        
                        <li class="side-nav-item">
                            <a href="{% url 'backoffice:permission_requests' %}" class="side-nav-link">
                                <i class="dripicons-user"></i>
                                <span>Permission Requests</span>
                            </a>
                        </li>

                        <!-- <li class="side-nav-item">
                            <a href="{% url 'backoffice:events:index' %}" class="side-nav-link">
                                <i class="dripicons-calendar"></i>
                                <span>Events</span>
                            </a>
                        </li> -->

                        <li class="side-nav-item">
                            <a href="{% url 'backoffice:locations:index' %}" class="side-nav-link">
                                <i class="dripicons-direction"></i>
                                <span>Locations</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="{% url 'backoffice:partners:index' %}" class="side-nav-link">
                                <i class="dripicons-store"></i>
                                <span>Partners</span>
                            </a>
                        </li>

                        <!-- <li class="side-nav-item">
                            <a href="{% url 'backoffice:configurations:category' %}" class="side-nav-link">
                                <i class="dripicons-gear"></i>
                                <span> Configurations </span>
                            </a>
                        </li> -->

                        <!-- <li class="side-nav-item">
                            <a href="{% url 'backoffice:users:index' %}" class="side-nav-link">
                                <i class="dripicons-user"></i>
                                <span>Users</span>
                            </a>
                        </li> -->

                    </ul>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="content-page">
                <div class="content">
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-right-menu float-right mb-0">

                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                                    aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="{% static 'img/man.png' %}" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name">Dominic Keller</span>
                                        <span class="account-position">Superadmin</span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span>My Account</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-key mr-1"></i>
                                        <span>Change Password</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout mr-1"></i>
                                        <span>Logout</span>
                                    </a>

                                </div>
                            </li>

                        </ul>
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>

                    {% block content_page %}
                    {% endblock %}

                </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                2019 © Document Management System. All rights reserved
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <!-- bundle -->
        <script src="{% static 'js/app.min.js' %}"></script>

        <!-- third party js -->
        <!-- <script src="{% static 'js/chart.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'js/jquery-jvectormap-world-mill-en.js' %}"></script> -->
        <script src="{% static 'js/dropzone.min.js' %}"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <!-- <script src="{% static 'js/demo.dashboard.js' %}"></script> -->
        <!-- end demo js-->
    </body>

</html>
