{% extends 'base.html' %}

{% load static%}

{% block content_page %}
<div class="container-fluid pb-4">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice:dashboard' %}">DMS</a></li>
                        <li class="breadcrumb-item active">Permission Requests</li>
                    </ol>
                </div>
                <h4 class="page-title">Permission Requests</h4>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <div class="row mt-1">
                <div class="col-md-3">
                    <label>Search</label>
                    <div class="form-group">
                        <input type="text" id="simpleinput" class="form-control" placeholder="Searching ...">
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Contract Date</label>
                    <div class="form-group">
                        <input type="text" id="contractdate" class="form-control" placeholder="Searching ..."
                               data-provide="datepicker" data-date-autoclose="true">
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Expired Date</label>
                    <div class="form-group">
                        <input type="text" id="expireddate" class="form-control" placeholder="Searching ..."
                               data-provide="datepicker" data-date-autoclose="true">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Document</label>
                        <select id="document" name="document" class="form-control select2" data-toggle="select2">
                            <option>- Select -</option>
                            <option>Contract</option>
                            <option>Addendum</option>
                            <option>MoU</option>
                            <option>Berita Acara</option>
                            <option>Peraturan Perusahaan</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">            
            <div class="table-responsive-sm">
                <table class="table table-sm table-hover table-centered mb-0">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Subject</th>
                            <th>Contract Date</th>
                            <th>Expired Date</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="javascript:void(0)" class="btn btn-outline-primary btn-rounded">Request</button></td>
                            <td>Perubahan pasal kontrak kerja</td>
                            <td>25 Mei 2019</td>
                            <td>03 February 2020</td>
                            <td>Construction</td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="btn btn-outline-primary btn-rounded">Request</button></td>
                            <td>Perubahan pasal kontrak kerja</td>
                            <td>20 April 2019</td>
                            <td>31 Januari 2021</td>
                            <td>Construction</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-between ml-1 mr-1">
        <div class="col-xs-3 text-left">
            <button type="button" class="btn btn-outline-info btn-rounded">Prev</button>
        </div>
        <div class="text-muted mt-2">
            Page 1 of 3
        </div>
        <div class="col-xs-3 text-right">
            <button type="button" class="btn btn-outline-info btn-rounded">Next</button>
        </div>
    </div>
        

</div>
{% endblock %}
