{% extends 'base.html' %}

{% load static%}

{% block content_page %}
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            {% include '_includes/breadcrumb.html' %}
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'backoffice:locations:index' %}">Location</a></li>
                        <li class="breadcrumb-item active">Add</li>
                    </ol>
                </div>
                <h4 class="page-title">Add Location</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <form action="" method="">

                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label for="code">Code</label>
                                    <input type="text" id="code" name="code" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label for="example-textarea">Description</label>
                                    <textarea class="form-control" id="example-textarea" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-success btn-rounded">Save</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}
