{% extends 'base.html' %}

{% load static%}

{% block content_page %}
<!-- start - content -->
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">DMS</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Location</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
                <h4 class="page-title">Locations</h4>
            </div>
        </div>
    </div>     

    <div class="row">
        <div class="col-12">
            <div class="row mb-2">
                <div class="col-md-4">
                    <a href="{% url 'backoffice:locations:add' %}">
                        <button type="button" class="btn btn-danger btn-rounded mb-3"><i class="mdi mdi-plus"></i> Create Location</button>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group mb-3">
                                <input type="text" id="simpleinput" class="form-control" placeholder="Searching ...">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-xs-right">
                                <div class="btn-group mb-3 ml-1">
                                    <button type="button" class="btn btn-primary">Active</button>
                                    <button type="button" class="btn btn-light">Inactive</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="row">
                <div class="col-md-4">
                    <div class="card d-block">
                        <div class="card-body">
                            <div class="dropdown card-widgets">
                                <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                    <i class="dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'backoffice:locations:edit' 1 %}" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                                    <a href="{% url 'backoffice:locations:delete' 1 %}" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
                                </div>
                            </div>
                            <h4 class="mt-0">
                                <a href="{% url 'backoffice:locations:details' 1 %}" class="text-title">JKT</a>
                            </h4>
                            <p class="text-muted font-13 mb-0">Jakarta</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card d-block">
                        <div class="card-body">
                            <div class="dropdown card-widgets">
                                <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                    <i class="dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'backoffice:locations:edit' 1 %}" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                                    <a href="{% url 'backoffice:locations:delete' 1 %}" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
                                </div>
                            </div>
                            <h4 class="mt-0">
                                <a href="{% url 'backoffice:locations:details' 1 %}" class="text-title">DPS</a>
                            </h4>
                            <p class="text-muted font-13 mb-0">Denpasar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card d-block">
                        <div class="card-body">
                            <div class="dropdown card-widgets">
                                <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                    <i class="dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'backoffice:locations:edit' 1 %}" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                                    <a href="{% url 'backoffice:locations:delete' 1 %}" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
                                </div>
                            </div>
                            <h4 class="mt-0">
                                <a href="{% url 'backoffice:locations:details' 1 %}" class="text-title">UPG</a>
                            </h4>
                            <p class="text-muted font-13 mb-0">Makassar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card d-block">
                        <div class="card-body">
                            <div class="dropdown card-widgets">
                                <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                    <i class="dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'backoffice:locations:edit' 1 %}" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                                    <a href="{% url 'backoffice:locations:delete' 1 %}" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
                                </div>
                            </div>
                            <h4 class="mt-0">
                                <a href="{% url 'backoffice:locations:details' 1 %}" class="text-title">BTN</a>
                            </h4>
                            <p class="text-muted font-13 mb-0">Banten</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-md-3 text-left">
                    <button type="button" class="btn btn-outline-info btn-rounded">Prev</button>
                </div>
                <div class="text-muted mt-2">
                    Page 1 of 3
                </div>
                <div class="col-md-3 text-right">
                    <button type="button" class="btn btn-outline-info btn-rounded">Next</button>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
<!-- end - content -->
{% endblock %}
