{% extends 'base.html' %}

{% load static%}

{% block content_page %}
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">DMS</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
                <h4 class="page-title">Users</h4>
            </div>
        </div>
    </div>     

    <div class="row mb-2">
        <div class="col-md-12 text-center">
            <a href="{% url 'backoffice:users:add' %}">
                <button type="button" class="btn btn-danger btn-rounded mb-3"><i class="mdi mdi-plus"></i> Create User</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row mt-1">
                <div class="col-md-4">
                    <label>Email</label>
                    <div class="form-group">
                        <input type="text" id="search_email" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Name</label>
                    <div class="form-group">
                        <input type="text" id="search_name" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Status</label>
                        <select id="search_status" name="search_status" class="form-control select2" data-toggle="select2">
                            <option>- Select -</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Super User</label>
                        <select id="search_superuser" name="search_superuser" class="form-control select2" data-toggle="select2">
                            <option>- Select -</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Legal User</label>
                        <select id="search_legaluser" name="search_legaluser" class="form-control select2" data-toggle="select2">
                            <option>- Select -</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Staff User</label>
                        <select id="search_staffuser" name="search_staffuser" class="form-control select2" data-toggle="select2">
                            <option>- Select -</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive-sm">
                <table class="table table-sm table-hover table-centered mb-0">
                    <thead>
                        <tr>
                            <th class="text-center">Action</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Super User</th>
                            <th>Legal User</th>
                            <th>Staff User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'backoffice:users:edit' 1 %}" class="dropdown-item"><i class="mdi mdi-pencil mr-2"></i> Edit</a>
                                        <a href="{% url 'backoffice:users:delete' 1 %}" class="dropdown-item"><i class="mdi mdi-delete mr-2"></i> Delete</a>
                                        <a href="{% url 'backoffice:users:details' 1 %}" class="dropdown-item"><i class="mdi mdi-magnify-plus mr-2"></i> Details</a>
                                        <a href="{% url 'backoffice:users:reset_password' 1 %}" class="dropdown-item"><i class="mdi mdi-key mr-2"></i> Reset Password</a>
                                    </div>
                                </div>
                            </td>
                            <td>jane.alexandra@gmail.com</td>
                            <td>Jane Alexandra</td>
                            <td><span class="badge badge-primary">Yes</span></td>
                            <td><span class="badge badge-primary">Yes</span></td>
                            <td><span class="badge badge-danger">No</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'backoffice:users:edit' 1 %}" class="dropdown-item"><i class="mdi mdi-pencil mr-2"></i> Edit</a>
                                        <a href="{% url 'backoffice:users:delete' 1 %}" class="dropdown-item"><i class="mdi mdi-delete mr-2"></i> Delete</a>
                                        <a href="{% url 'backoffice:users:details' 1 %}" class="dropdown-item"><i class="mdi mdi-magnify-plus mr-2"></i> Details</a>
                                        <a href="{% url 'backoffice:users:reset_password' 1 %}" class="dropdown-item"><i class="mdi mdi-key mr-2"></i> Reset Password</a>
                                    </div>
                                </div>
                            </td>
                            <td>john.salemo@gmail.com</td>
                            <td>John Salemo</td>
                            <td><span class="badge badge-danger">No</span></td>
                            <td><span class="badge badge-danger">No</span></td>
                            <td><span class="badge badge-primary">Yes</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'backoffice:users:edit' 1 %}" class="dropdown-item"><i class="mdi mdi-pencil mr-2"></i> Edit</a>
                                        <a href="{% url 'backoffice:users:delete' 1 %}" class="dropdown-item"><i class="mdi mdi-delete mr-2"></i> Delete</a>
                                        <a href="{% url 'backoffice:users:details' 1 %}" class="dropdown-item"><i class="mdi mdi-magnify-plus mr-2"></i> Details</a>
                                        <a href="{% url 'backoffice:users:reset_password' 1 %}" class="dropdown-item"><i class="mdi mdi-key mr-2"></i> Reset Password</a>
                                    </div>
                                </div>
                            </td>
                            <td>maria.petrus@gmail.com</td>
                            <td>Maria Petrus</td>
                            <td><span class="badge badge-danger">No</span></td>
                            <td><span class="badge badge-primary">Yes</span></td>
                            <td><span class="badge badge-danger">No</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-between ml-1 mr-1">
        <div class="col-xs-3 text-left">
            <button type="button" class="btn btn-outline-info btn-rounded">Prev</button>
        </div>
        <div class="text-muted mt-2">
            Page 1 of 3
        </div>
        <div class="col-xs-3 text-right">
            <button type="button" class="btn btn-outline-info btn-rounded">Next</button>
        </div>
    </div>

</div>
{% endblock %}
