{% extends 'base.html' %}

{% load static%}

{% block content_page %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        {% include '_includes/breadcrumb.html' %}
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'backoffice:partners:index' %}">Partners</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'backoffice:partners:details' partner.id %}">Detail</a></li>
                    <li class="breadcrumb-item active"># {{ partner.name }}</li>
                </ol>
            </div>
            <h4 class="page-title">Detail Partner</h4>
        </div>
    </div>
</div>

{% if not partner.is_active %}
<div class="row mt-4">
    <div class="col-12">
        <div class="alert alert-info alert-dismissible bg-warning text-white border-0 fade show" role="alert">
            <strong>INFO !</strong>&nbsp;&nbsp; Partner is not active !
        </div>
    </div>
</div>
{% endif %}

<div class="row {% if partner.is_active %}mt-3{% endif %} mb-2">
    <div class="col-lg-12 mb-2 text-center">
        <a href="{% url 'backoffice:partners:index' %}" class="btn btn-outline-secondary btn-rounded m-1">
            <i class="mdi mdi-arrow-left-thick"></i>
            Go Back
        </a>
        <a href="{% url 'backoffice:partners:edit' partner.id %}" class="btn btn-outline-primary btn-rounded m-1">
            <i class="mdi mdi-pencil"></i>
            Edit
        </a>
        {% if partner.is_active %}
            <a href="{% url 'backoffice:partners:change_record_status' partner.id %}" class="btn btn-outline-danger btn-rounded m-1">
                <i class="mdi mdi-trash-can"></i>
                Deactivate
            </a>
        {% endif %}
        {% if not partner.is_active %}
            <a href="{% url 'backoffice:partners:change_record_status' partner.id %}" class="btn btn-outline-success btn-rounded m-1">
                <i class="mdi mdi-trash-can"></i>
                Activate
            </a>
        {% endif %}
        <a href="{% url 'backoffice:partners:delete' partner.id %}" class="btn btn-outline-danger btn-rounded m-1">
            <i class="mdi mdi-trash-can"></i>
            Delete
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">

                    <h3>General Information <small><span class="{{ partner.record_status_class }}">{{ partner.is_active|yesno:'Active, Inactive' }}</span></small></h3>
                <hr />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <h6 class="font-14">Name :</h6>
                            <p>{{ partner.name }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <h6 class="font-14">Director :</h6>
                            <p>{{ partner.director }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <h6 class="font-14">Business Sector :</h6>
                            <p>{{ partner.get_business_sector_display|default:'-' }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <h6 class="font-14">Person In Charge :</h6>
                            <p>{{ partner.person_in_charge|default:'-' }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h6 class="font-14">Alamat :</h6>
                        <p>{{ partner.address|default:'-' }}</p>
                    </div>
                </div>

                <h3 class="mt-3">Legal Information</h3>
                <hr />

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <h6 class="font-14">NPWP :</h6>
                            <p>{{ partner.npwp|default:'-' }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <h6 class="font-14">SIUP :</h6>
                            <p>{{ partner.siup|default:'-' }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <h6 class="font-14">PTKP :</h6>
                            <p>{{ partner.ptkp|default:'-' }}</p>
                        </div>
                    </div>
                </div>
                
                <h3 class="mt-3">Contact Information</h3>
                <hr />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <h6 class="font-14">Telephone :</h6>
                            <p>{{ partner.telephone|default:'-' }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <h6 class="font-14">Fax :</h6>
                            <p>{{ partner.fax|default:'-' }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}
