{% extends 'base.html' %}

{% load static %}

{% block body_class %}index{% endblock %}

{% block content_page %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        {% include '_includes/breadcrumb.html' %}
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'backoffice:partners:index' %}">Partners</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
            <h4 class="page-title">Partner</h4>
        </div>
    </div>
</div>   

<div class="row mt-3 mb-2">
    <div class="col-md-12 text-center">
        <a href="{% url 'backoffice:partners:add' %}">
            <button type="button" class="btn btn-danger btn-rounded mb-3"><i class="mdi mdi-plus"></i> Create Partner</button>
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form action="" method="GET">
        <div class="row mt-1">
            <div class="col-md-3">
                <label>Name</label>
                <div class="form-group">
                    <input type="text" name="name" class="form-control" {% if name %}value='{{ name }}'{% endif %} placeholder="Searching ...">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Director</label>
                    <div class="form-group">
                        <input type="text" name="director" class="form-control" {% if director %}value='{{ director }}'{% endif %} placeholder="Searching ...">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Business Sector</label>
                    <select id="type" name="type" class="form-control select2" data-toggle="select2">
                        <option value="0">- Select -</option>
                        <option value="1" {% if type == partner.BUSINESS_SECTOR.aneka_industri %}selected{% endif %}>Aneka Industri</option>
                        <option value="2" {% if type == partner.BUSINESS_SECTOR.barang_konsumsi %}selected{% endif %}>Barang Konsumsi</option>
                        <option value="3" {% if type == partner.BUSINESS_SECTOR.industri_dasar_dan_kimia %}selected{% endif %}>Industri Dasar dan Kimia</option>
                        <option value="4" {% if type == partner.BUSINESS_SECTOR.infrastruktur %}selected{% endif %}>Infrastruktur</option>
                        <option value="5" {% if type == partner.BUSINESS_SECTOR.jasa %}selected{% endif %}>Jasa</option>
                        <option value="6" {% if type == partner.BUSINESS_SECTOR.keuangan %}selected{% endif %}>Keuangan</option>
                        <option value="7" {% if type == partner.BUSINESS_SECTOR.perdagangan %}selected{% endif %}>Perdagangan</option>
                        <option value="8" {% if type == partner.BUSINESS_SECTOR.pertambangan %}selected{% endif %}>Pertambangan</option>
                        <option value="9" {% if type == partner.BUSINESS_SECTOR.pertanian %}selected{% endif %}>Pertanian</option>
                        <option value="10" {% if type == partner.BUSINESS_SECTOR.properti %}selected{% endif %}>Properti</option>
                        <option value="11" {% if type == partner.BUSINESS_SECTOR.transportasi %}selected{% endif %}>Transportasi</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Status</label>
                    <select id="status" name="status" class="form-control select2" data-toggle="select2">
                        <option value="-1">- Select -</option>
                        <option value="1" {% if status == True %}selected{% endif %}>Active</option>
                        <option value="0" {% if status == False %}selected{% endif %}>Inactive</option>
                    </select>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive-sm">
            <table class="table table-sm table-hover table-centered mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Director</th>
                        <th>Business Sector</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partner in page.object_list %}
                        <tr>
                            <td><a href="{% url 'backoffice:partners:details' partner.id %}"># {{ partner.name }}</a></td>
                            <td>{{ partner.director }}</td>
                            <td>{{ partner.get_business_sector_display|default:'-' }}</td>
                            <td><span class="{{ partner.badge_is_active_class }}">{{ partner.is_active|yesno:'Active,Inactive' }}</span></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center"><h4>No Data</h4></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if page.has_other_pages %}
<div class="row justify-content-between ml-1 mr-1">
    <div class="col-xs-3 text-left">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}&name={{ name }}&director={{ director }}&business_sector={{ business_sector }}&status={{ status }}" class="btn btn-outline-info btn-rounded">Prev</a>
        {% endif %}
    </div>
    <div class="text-muted mt-2">
        Page {{ page.number }} of {{ total_pages }} from {{ total_data }} documents
    </div>
    <div class="col-xs-3 text-right">
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}&name={{ name }}&director={{ director }}&business_sector={{ business_sector }}&status={{ status }}" class="btn btn-outline-info btn-rounded">Next</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
