{% extends 'base.html' %}

{% load static%}

{% block content_page %}
<div class="container-fluid pb-4">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            {% include '_includes/breadcrumb.html' %}
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'backoffice:addendums:index' %}">Addendums</a></li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
                <h4 class="page-title">Addendums # K00-0001</h4>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">            
            <div class="table-responsive-sm">
                <table class="table table-sm table-hover table-centered mb-0">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Subject</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{% url 'backoffice:addendums:details' 1 %}"># ADS-001</a></td>
                            <td>Perubahan pasal kontrak kerja</td>
                            <td><span class="badge badge-warning p-1">Expired</span></td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'backoffice:addendums:details' 1 %}"># ADS-007</a></td>
                            <td>Perubahan tender project</td>
                            <td><span class="badge badge-danger p-1">Expired</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
