<div class="row {% if addendum.is_active %}mt-3{% endif %} mb-2">
    <div class="col-lg-12 mb-2 text-center">
        <a href="{% url 'backoffice:addendums:index' %}" class="btn btn-outline-secondary btn-rounded m-1">
            <i class="mdi mdi-arrow-left-thick"></i>
            Go Back
        </a>
        <a href="{% url 'backoffice:addendums:lists' addendum.document.id %}" class="btn btn-outline-secondary btn-rounded m-1">
            <i class="mdi mdi-arrow-left-thick"></i>
            Back to list
        </a>
        <a href="{% url 'backoffice:addendums:preview' addendum.id %}" class="btn btn-outline-warning btn-rounded m-1">
            <i class="mdi mdi-refresh"></i>
            Preview
        </a>
        <a href="{% url 'backoffice:addendums:lists' document.id %}" class="btn btn-outline-warning btn-rounded m-1">
            <i class="mdi mdi-refresh"></i>
            Addendum
        </a>
    </div>
</div>
