<div class="row">
    <div class="col-md-6">
        <div class="form-group mb-3">
            <h6 class="font-14">Number :</h6>
            <p><a href="{% url 'backoffice:mous:details' addendum.document.id %}"># {{ addendum.document.number }}</a></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group mb-3">
            <h6 class="font-14">Subject :</h6>
            <p>{{ addendum.document.subject }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group mb-3">
            <h6 class="font-14">Group :</h6>
            <p>{{ addendum.document.get_group_display }}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group mb-3">
            <h6 class="font-14">Category :</h6>
            <p>{{ addendum.document.get_category_display }}</p>
        </div>
    </div>
</div>
